<!DOCTYPE html>
<html>
  <head>
    <title>Edit Record</title>
  </head>
  <body>
    <h1>Edit Record</h1>
    <form id="put-form">
      <input type="hidden" name="_METHOD" value="PUT" />
      <input type="hidden" name="id" id="id" value="{{ record[0] }}" />
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ record[1] }}"><br><br>
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" value="{{ record[2] }}"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="{{ record[3] }}"><br><br>
      <input type="submit" value="Save">
    </form>

    <script>
    var form = document.getElementById('put-form');

    form.addEventListener('submit', function(event) {
    event.preventDefault(); // prevent the default form submission
    var xhr = new XMLHttpRequest();
    xhr.open('PUT', '/record/' + form.elements['id'].value);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
        if (xhr.status === 200) {
            window.location.href = '/';
        } else {
            alert('Error: ' + xhr.statusText);
        }
    };
    var data = {
        name: form.elements['name'].value,
        age: form.elements['age'].value,
        email: form.elements['email'].value
      };
      xhr.send(JSON.stringify(data));
    });

    </script>
  </body>
</html>
